#LandingWrapper {


    width: 100%;
    height: 200vh;


    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 90vh 50vh 40vh 10vh;
    grid-template-areas:
        'hd hd'
        'lm lm'
        'ls1 ls1'
        'ls2 la'
        'ft ft';



}

#RestaurantWrapper {


    width: 100%;
    height: 100vh;


    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 160vh 10vh;
    grid-template-areas:
        'hd'
        'rm'
        'ft';



}

#ForumWrapper {


    width: 100%;
    height:auto;


    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 60vh 120vh 10vh;
    grid-template-areas:
        'hd hd'
        'fm fa1'
        'fm fa2'
        'ft ft';



}



body {
    margin: 0;
}


header {
    grid-area: hd;
    background-color: #e67e22;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    position: fixed;
    right: 0;
    left: 0;
    height: 10vh;
    z-index: 1;
}

nav {
    padding-top: 15px;
    padding-right: 20px;


}

footer {
    grid-area: ft;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;

}


#LandingMain {
    grid-area: lm;
    background-image: url(../img/New-Food.jpg);
    background-size: cover;

}

#LandingSection1 {
    grid-area: ls1;
    background-color: #4B4266;
    border-style: solid ;
    border-left: 0;
    border-top-width: 2px;
    border-right: 0;
    border-bottom-width: 2px;
    border-color: black;
    text-align: center;
    font-size: 2rem;
    color: #e67e22;
}
    

#LandingSection2 {
    grid-area: ls2;
    text-align: center;
    background-color: #e67e22;
    border-style: solid ;
    border-left: 0;
    border-top: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: black;
}

#LandingAside {
    grid-area: la;
    background-color:  #e67e22;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center {
    text-align: center;
}

.BrandName {
    padding-top: 10px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    padding-left: 41%;
}

a {
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}

#ForumMain {
    grid-area: fm;
    background-color: #4B4266; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: sticky;
    overflow-y: scroll;

}

#ForumAside1 {
    grid-area: fa1;
    background-color:#E6AF2E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid ;
    border-left-width: 2px;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 2px;
    border-color: black;

}

#ForumAside2 {
    grid-area: fa2;
    background-color: #E6AF2E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: sticky;
    border-style: solid ;
    border-left-width: 2px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: black;


}

.questionbox {
    background-color: white;
    width: 90%;
    height: 10%;
    padding-left: 5px;
    border-style: solid ;
    border-width: 2px;
    border-color: black;
    
}

.ForumHead {
    background-color: white;
    width: 90%;
    height: 4%;
    padding-left: 5px;
    border-style: solid ;
    border-width: 2px;
    border-color: black;
}

.Question {
    font-size: 1.5rem;
}

.Replies {
    position: absolute; 
    left: 500px;
    font-size: 1.5rem;
}

.Sent {
    position: absolute;
    left: 700px;
    font-size: 1.5rem;
}

.NewQuestion {
    font-size: 0.7rem;
}

.NewReplies {
    position: absolute; 
    left: 240px;
    font-size: 0.7rem;
    padding-top: 4px;
}

.NewSent {
    position: absolute;
    left: 290px;
    font-size: 0.7rem;
    padding-top: 4px;
}

#SignInBox {
    background-color: white;
    width: 90%;
    height: 90%;
    padding-left: 10px;
    border-style: solid ;
    border-width: 2px;
    border-color: black;

}

input {
    margin-bottom: 10px;
    height: 25px;
    width: 80%;
}

.newquestionsbox {
    background-color: white;
    width: 90%;
    height: 10%;
    padding-left: 5px;
    border-style: solid ;
    border-width: 2px;
    border-color: black;
}


#RestaurantMain {
    grid-area: rm;
    background-color: #4B4266;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.RestaurantLayout {
    height: 70vh;
    width: 30%;
    background-color: #E6AF2E;
}

.RestaurantTitle {
    height: 10%;
    width: 100%;
    background-color:#e67e22;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.RestaurantInfo {
    padding-left: 5px;
    font-size: 1.1rem;
}


.SeaFood-RestaurantIMG {
    height: 40%;
    width: 100%;
    background-image: url(../img/SeaFood-Restaurant2.jpg);
    background-size: cover;

}

.SteakHouseIMG {
    height: 40%;
    width: 100%;
    background-image: url(../img/SteakHouse.jpg);
    background-size: cover;
}

.SushiRestaurantIMG {
    height: 40%;
    width: 100%;
    background-image: url(../img/SushiRestaurant.jpg);
    background-size: cover;
}

.ChineseRestaurantImg {
    height: 40%;
    width: 100%;
    background-image: url(../img/Chow-Mein.jpg);
    background-size: cover;
}

.VegetarianRestaurantImg {
    height: 40%;
    width: 100%;
    background-image: url(../img/Vegetarian-Restaurant.jpg);
    background-size: cover;
}

.TurkishRestaurantImg {
    height: 40%;
    width: 100%;
    background-image: url(../img/Turkish-Kebab.jpg);
    background-size: cover;
}

.RestaurantButton {
    background-color: #4B4266; 
    border: black solid;
    color: #e67e22;
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    padding: 30px;
    cursor: pointer;
    border-radius: 20px;
    width: 70%;
    height: 50%;
    margin: 10vh;
    font-family: 'Times New Roman', Times, serif;
}

.FrontPageReview {
    height: 80%;
    width: 80%;
    background-color: #4B4266;
    padding-left: 5px;
    padding-top: 10px;
    border:black solid 2px;
    border-radius: 10px;
    font-size: 18px;
}

.Review {
    color: goldenrod;
} 

.TextBorder {
    text-shadow: black 0px 0px 2px;
}