#LandingWrapper {


    width: 100%;
    height: 200vh;


    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 90vh 50vh 40vh 10vh;
    grid-template-areas:
        'hd hd'
        'lm lm'
        'ls1 ls1'
        'ls2 la'
        'ft ft';



}

#RestaurantWrapper {


    width: 100%;
    height: 100vh;


    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
        'hd'
        'rm'
        'ft';



}

#ForumWrapper {


    width: 100%;
    height:auto;


    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 60vh 120vh 10vh;
    grid-template-areas:
        'hd hd'
        'fm fa1'
        'fm fa2'
        'ft ft';



}



body {
    margin: 0;
}


header {
    grid-area: hd;
    background-color: #e67e22;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    position: fixed;
    right: 0;
    left: 0;
    height: 10vh;
    z-index: 1;
}

nav {
    padding-top: 15px;
    padding-right: 20px;


}

footer {
    grid-area: ft;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;

}


#LandingMain {
    grid-area: lm;
    background-color: blueviolet;

}

#LandingSection1 {
    grid-area: ls1;
    background-color: aquamarine;
}

#LandingSection2 {
    grid-area: ls2;
    background-color: red;
}

#LandingAside {
    grid-area: la;
    background-color: yellowgreen;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}

#ForumMain {
    grid-area: fm;
    background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#ForumAside1 {
    grid-area: fa1;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ForumAside2 {
    grid-area: fa2;
    background-color: #e67e22;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.questionbox {
    background-color: azure;
    width: 90%;
    height: 10%;
    padding-left: 5px;
    border-style: solid ;
    border-width: 2px;
    border-color: black;
    
}

.ForumHead {
    background-color: azure;
    width: 90%;
    height: 4%;
    padding-left: 5px;
    border-style: solid ;
    border-width: 2px;
    border-color: black;
}
.Question {
    font-size: 1.5rem;
}

.Replies {
    position: absolute; 
    left: 500px;
    font-size: 1.5rem;
}

.Sent {
    position: absolute;
    left: 700px;
    font-size: 1.5rem;
}

#SignInBox {
    background-color: azure;
    width: 90%;
    height: 90%;
    padding-left: 10px;

}

input {
    margin-bottom: 10px;
    height: 25px;
    width: 80%;
}

.newquestionsbox {
    background-color: azure;
    width: 90%;
    height: 10%;
    padding-left: 5px;
    border-style: solid ;
    border-width: 2px;
    border-color: black;
}


#RestaurantMain {
    grid-area: rm;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.RestaurantLayout {
    height: 35vh;
    width: 30%;
    background-color: aliceblue;
}

.RestaurantTitle {
    height: 10%;
    width: 100%;
    background-color: aqua;
}

.RestaurantImg {
    height: 60%;
    width: 100%;
    background-color: red;
}

.SeaFood-RestaurantIMG {
    height: 60%;
    width: 100%;
    background-image: url(../img/SeaFood-Restaurant2.jpg);
    background-size: cover;

}

.SteakHouseIMG {
    height: 60%;
    width: 100%;
    background-image: url(../img/SteakHouse.jpg);
    background-size: cover;
}

.SushiRestaurantIMG {
    height: 60%;
    width: 100%;
    background-image: url(../img/SushiRestaurant.jpg);
    background-size: cover;
}